@import "../../styles/mixins";

.banner {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  height: 450px;
  padding-bottom: 0;
  overflow: hidden;
  background-color: transparent;
  @include media-breakpoint-up(md) {
    height: 500px;
  }
  @include media-breakpoint-up(lg) {
    height: 550px;
  }
  @include media-breakpoint-up(xl) {
    height: 600px;
  }
}

.banner:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom left, $light-to-accent);
}

.background {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.25;
  filter: blur(1px);
}

.container {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  vertical-align: bottom;
  @include media-breakpoint-up(md) {
    padding-bottom: 1em;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 3em;
  }
  text-align: center;
}
