@import "../../styles/variables";

.textButton {
	border: 0;
	font-weight: bold;
	font-family: $action-font;
	text-transform: uppercase;
	cursor: pointer;
	span {
		vertical-align: middle;
		padding-right: 0.25em;
	}
}
