@import "../../styles/global";

.textBlock {
	padding: 2em 0;
}

.callout {
	background: transparent;
	text-align: center;
	font-size: 1.25em;
	p {
		color: $main-brand;
	}
}

.title {
	margin-bottom: 1em;
}
