@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");
@import "../global";

@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: $off-white;
  transition      : 1s ease;
}

#__next {
  min-height    : 100vh;
  display       : flex;
  flex-direction: column;
}

.container {
  padding-left : 25px;
  padding-right: 25px;
}

.page {
  flex: 1 0 auto;
}

.dropdown-menu {
  border    : 0;
  box-shadow: elavation(2);
}

.dropdown-item {
  display       : flex;
  flex-direction: row;

  svg {
    margin   : auto 0.5rem;
    flex-grow: 0;
    height   : 100%;
  }
}

#covid-alert {
  width: 100%;
  text-align: center;
  padding: 2rem 1rem;
  position: absolute;
  top: 3rem;

  z-index: 2;

  @include media-breakpoint-up(md) {
    top: 6rem
  }
  @include media-breakpoint-up(xl) {
    top: 3rem;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family   : $action-font;
  text-transform: uppercase;
  font-weight   : 700;
}

.btn {
  font-family   : $action-font;
  font-weight   : bold;
  text-transform: uppercase;
  border-width  : 2px;
  box-shadow    : elavation(1);
}

.form-control {
  border          : none;
  border-bottom   : 1px solid #ced4da;
  background-color: transparent;
  border-radius   : 0;

  &:focus {
    box-shadow: none;
  }
}

.form-label {
  font-family: $action-font;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.embed-video {
  height: 214px;

 

  @include media-breakpoint-up(sm) {
    height: 405px;
  }  

  @include media-breakpoint-up(md) {
    height: 218px;
  }

  @include media-breakpoint-up(lg) {
    height: 260px;
  }

  @include media-breakpoint-up(xl) {
    height: 375px;
  }

}

@import "../banner.scss";
@import "../faq.scss";
@import "../button.scss";
@import "../event.scss";
@import "../footer.scss";
@import "../navbar.scss";
@import "../textBlock.scss";
@import "../imageTextBlock.scss";
@import "../boardList.scss";
@import "../breadcrumb.scss";
@import "../testimonial.scss";