@import "../../styles/global";

.headerIcon {
  vertical-align: sub;
  height: 1.25em;
  width: 1.25em;
  padding: 0;
  margin-right: 0.5em;
}

.menu {
  list-style-type: none;
  padding-left: 0;
}

.footer {
  padding-top: 5em;
  width: 100%;
  font-size: 0.75em;
  background-color: theme-color("dark");
  color: $light-shades;
  h1 {
    font-size: 1.5em;
    font-weight: 700;
  }
  h2 {
    font-size: 1.25em;
  }
  h6 {
    font-size: 1em;
  }
  a {
    color: $light-accent;
    &:hover {
      color: lighten($light-accent, 10%);
    }
  }
}
