@import "../../styles/variables.scss";

footer {
	padding-top: 5em;
	bottom: 0;
	width: 100%;
	font-size: 0.75em;
	background-color: theme-color("dark");
	position: absolute;
	color: $light-shades;
	h1 {
		font-size: 1.2em;
		font-weight: 700;
	}
	h2 {
		font-size: 1.167em;
		font-weight: 600;
	}
	a {
		color: $light-accent;
		&:hover {
			color: lighten($light-accent, 10%);
		}
	}
}
