@import "variables";

@import "../node_modules/bootstrap/scss/functions";

@function elavation($height) {
	@return 0px ($height * 2px) (abs($height) * 4px) rgba(0, 0, 0, 0.15);
}

/// Test if `$value` is a valid direction
/// @param {*} $value - Value to test
/// @return {Bool}

@function is-direction($value) {
	$is-keyword: index(
		(
			to top,
			to top right,
			to right top,
			to right,
			to bottom right,
			to right bottom,
			to bottom,
			to bottom left,
			to left bottom,
			to left,
			to left top,
			to top left
		),
		$value
	);
	$is-angle: type-of($value) == "number" and
		index("deg" "grad" "turn" "rad", unit($value));

	@return $is-keyword or $is-angle;
}
