@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

// variables
$font-family-sans-serif: "Open Sans", sans-serif;
$action-font: "Poppins", sans-serif;

$light-shades: #f7f5f4; // DESERT STORM
$light-accent: #8faebf; // NEPAL
$main-brand: #497ba2; // WEDGEWOOD
$dark-accent: #7d7c7c; // BOULDER
$dark-shades: #212b40; // EBONY CLAY

$highlight: #c2e078;
$highmedium: #93b14c;
$hightdark: #65841f;

$white: #fff;
$off-white: #fefefe;

$theme-colors: (
	"dark": $dark-shades,
	"important": $highlight,
	"primary": $main-brand,
	// oxford blue
		"info": $light-accent,
	// Bastille
		"success": #468e4f,
	"warning": #c47e17,
	"danger": #f44336
);

$grid-breakpoints: (
	xs: 0,
	sm: 460px,
	md: 780px,
	lg: 1024px,
	xl: 1440px
);

$container-max-widths: (
	sm: 450px,
	md: 750px,
	lg: 1000px,
	xl: 1320px
);

@function elavation($height) {
	@return 0px ($height * 2px) (abs($height) * 4px) rgba(0, 0, 0, 0.15);
}

$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
