@import "./mixins";

.banner {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  height: 450px;
  padding-bottom: 0;
  overflow: hidden;
  background-color: transparent;
  @include media-breakpoint-up(md) {
    height: 500px;
  }
  @include media-breakpoint-up(lg) {
    height: 550px;
  }
  @include media-breakpoint-up(xl) {
    height: 600px;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .background {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(1px);
  }
}

.banner:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom left, $light-to-accent);
}
