@import "./variables";

@import "~bootstrap/scss/bootstrap.scss";

body {
	background-color: $off-white;
}

#__next {
	min-height: 100vh;
	position: relative;
	padding-bottom: 20rem; // footer
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $action-font;
	text-transform: uppercase;
	font-weight: 700;
}

a {
	&:hover {
		text-decoration: none;
	}
}
