@import "./global";

$smHeight      : 400px;
$smHeightDouble: $smHeight+$smHeight;
$lgHeight      : 600px;

.imageTextBox {
  height: $smHeightDouble;

  @include media-breakpoint-up(md) {
    height: $lgHeight;
  }
}

.backdrop {
  height: $smHeightDouble;

  @include media-breakpoint-up(md) {
    height: $lgHeight;
  }

  position: absolute;
  left    : 0;
  right   : 0;

  &.light {
    background-color: $main-brand;
    // @include linear-grandient(to top, $primary-to-light-transparent);

    @include media-breakpoint-up(md) {
      // @include linear-grandient(to left, $primary-to-light-transparent);

      &.invert {
        // @include linear-grandient(to right, $primary-to-light-transparent);
      }
    }
  }

  &.dark {
    // @include linear-grandient(to top, $dark-to-accent-transparent);
    background-color: $dark-shades;

    @include media-breakpoint-up(md) {
      // @include linear-grandient(to left, $dark-to-accent-transparent);

      &.invert {
        // @include linear-grandient(to right, $dark-to-accent-transparent);
      }
    }
  }
}

.imageCol {
  height: $smHeight;
  width : 100vw;

  @include media-breakpoint-up(md) {
    height : $lgHeight;
    width  : 50vw;
    padding: 1rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 3rem;
  }

  @include media-breakpoint-up(xl) {
    padding: 5rem;
  }

  overflow: hidden;
  position: absolute;

  &.not_invert {
    left: 0;
  }

  &.invert {
    right: 0;
  }

  img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
    filter    : 0px 3px 6px rgba(0, 0, 0, 0.2);
  }
}

.textCol {
  height    : $smHeight;
  box-sizing: content-box;
  overflow-y: auto;

  @include media-breakpoint-up(md) {
    height: $lgHeight;
  }

  padding-left   : 0;
  padding-right  : 0;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  position       : relative;
  margin-top     : $smHeight;

  @include media-breakpoint-up(md) {
    margin-top: 0;
  }

  color: $off-white;
}

.textContainer {
  overflow      : hidden;
  padding-bottom: 1em;
  padding-top   : 1em;
}