@import "./variables.scss";

@import "~bootstrap/scss/bootstrap.scss";

@function elavation($height) {
	@return 0px ($height * 2px) ($height * 4px) rgba(0, 0, 0, 0.15);
}

body {
	min-height: 100%;
	background-color: $off-white;
}

#__next {
	min-height: 100%;
}
@import "./footer.scss";
@import "./header.scss";
@import "./navbar.scss";
