@import "./variables";

.textBlock {
  padding: 2em 0;
  @include media-breakpoint-down(md) {
    text-align: left !important;
  }
}

.callout {
  background: transparent;
  font-size: 1.25em;
  p {
    color: $main-brand;
  }
}

.title {
  margin-bottom: 1em;
}
